<a href="https://colab.research.google.com/github/amiller411/uniwork/blob/big_data_cw3/Copy_of_COM739_17952_CW3_run_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Initial Setup**

1. First, you will setup your CoLab environment. Run the cell below.

In [1]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)
openjdk-8-jdk-headless is already the newest version (8u292-b10-0ubuntu1~18.04).
0 upgraded, 0 newly installed, 0 to remove and 37 not upgraded.

Now we authenticate a Google Drive client to download the file we will be processing in our Spark job.

**Make sure to follow the interactive instructions.**

In [2]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

Download both anime.csv and rating.csv, and store it in your google drive. It is advisable to create a separate project folder, where you can store this dataset and also your code.

The script will give you the id of the two files in your drive.

In [3]:
file_list = drive.ListFile({'q': "'1Oi8cMnAfJVZH9-FyXGxwOrGGCIkkB7uy' in parents"}).GetList()
for f in file_list:
  print('title: %s, id: %s' % (f['title'], f['id']))

title: rating.csv, id: 1f76dQZxRB1fNaReBv_DnUDVkIXNm7mw9
title: anime.csv, id: 1TppJoj4QVJlc_HML20xmH847Brrw0Zfc

If you executed the cells below, you should be able to see the dataset we will need for this Colab under the "Files" tab on the left panel.

In [4]:
# Change the id, if it differs from the one below.
id='1TppJoj4QVJlc_HML20xmH847Brrw0Zfc'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('anime.csv')

id='1f76dQZxRB1fNaReBv_DnUDVkIXNm7mw9'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('rating.csv')

Here is a list of packages that might be useful to you. 

**Student Activity: Add the packages you need to carry out your analysis here**

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Student Activity: Add your packages here.
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf
from pyspark.sql import functions as F
# from pyspark.sql.functions import isnan, when, count, col

**This step initializes the Spark context.**

In [6]:
# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

You can easily check the current version and get the link of the web interface. In the Spark UI, you can monitor the progress of your job and debug the performance bottlenecks (if your Colab is running with a local runtime).

In [7]:
spark

## **From this point onwards, you are supposed to do the coding yourself. Follow the steps as mentioned below in its appropriate place.**

**1. Student Activity: Read the datasets here. You must write the script for the first question and explore both the files here.**

Q1. Identify and describe the number of columns in the two dataset files.

In [7]:
df_anime = spark.read.csv("anime.csv", header=True, inferSchema = True)
df_rat = spark.read.csv("rating.csv", header=True, inferSchema = True)

In [9]:
df_anime.printSchema()
df_rat.printSchema()

root
 |-- anime_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- type: string (nullable = true)
 |-- episodes: string (nullable = true)
 |-- rating: double (nullable = true)
 |-- members: integer (nullable = true)

root
 |-- user_id: integer (nullable = true)
 |-- anime_id: integer (nullable = true)
 |-- rating: integer (nullable = true)

The Anime dataset contains 7 columns (anime_id, name, genre, type, episodes, rating and members) with anime_id and members being the only integer types, rating the only double type and the remaining types all strings.

**2. Student Activity: Preprocess the datasets here. You must write the script for the second question here. Make sure to check if the script is running is correctly or not**

Q2. Merge/Join/Combine the two datasets and identify the key common column that would you have performed? 

Key column = rating, full join

In [11]:
df_anime.show()

+--------+--------------------+--------------------+-----+--------+------+-------+
|anime_id|                name|               genre| type|episodes|rating|members|
+--------+--------------------+--------------------+-----+--------+------+-------+
|   32281|      Kimi no Na wa.|Drama, Romance, S...|Movie|       1|  9.37| 200630|
|    5114|Fullmetal Alchemi...|Action, Adventure...|   TV|      64|  9.26| 793665|
|   28977|            Gintama°|Action, Comedy, H...|   TV|      51|  9.25| 114262|
|    9253|         Steins;Gate|    Sci-Fi, Thriller|   TV|      24|  9.17| 673572|
|    9969|       Gintama&#039;|Action, Comedy, H...|   TV|      51|  9.16| 151266|
|   32935|Haikyuu!!: Karasu...|Comedy, Drama, Sc...|   TV|      10|  9.15|  93351|
|   11061|Hunter x Hunter (...|Action, Adventure...|   TV|     148|  9.13| 425855|
|     820|Ginga Eiyuu Densetsu|Drama, Military, ...|  OVA|     110|  9.11|  80679|
|   15335|Gintama Movie: Ka...|Action, Comedy, H...|Movie|       1|   9.1|  72534|
|   15417|Gintama&#039;: En...|Action, Comedy, H...|   TV|      13|  9.11|  81109|
|    4181|Clannad: After Story|Drama, Fantasy, R...|   TV|      24|  9.06| 456749|
|   28851|      Koe no Katachi|Drama, School, Sh...|Movie|       1|  9.05| 102733|
|     918|             Gintama|Action, Comedy, H...|   TV|     201|  9.04| 336376|
|    2904|Code Geass: Hangy...|Action, Drama, Me...|   TV|      25|  8.98| 572888|
|   28891|Haikyuu!! Second ...|Comedy, Drama, Sc...|   TV|      25|  8.93| 179342|
|     199|Sen to Chihiro no...|Adventure, Drama,...|Movie|       1|  8.93| 466254|
|   23273|Shigatsu wa Kimi ...|Drama, Music, Rom...|   TV|      22|  8.92| 416397|
|   24701|Mushishi Zoku Sho...|Adventure, Fantas...|   TV|      10|  8.88|  75894|
|   12355|Ookami Kodomo no ...|Fantasy, Slice of...|Movie|       1|  8.84| 226193|
|    1575|Code Geass: Hangy...|Action, Mecha, Mi...|   TV|      25|  8.83| 715151|
+--------+--------------------+--------------------+-----+--------+------+-------+
only showing top 20 rows

In [37]:
df_anime.describe().show()

+-------+------------------+-----------------+------+-----+------------------+-----------------+-----------------+
|summary|          anime_id|             name| genre| type|          episodes|           rating|          members|
+-------+------------------+-----------------+------+-----+------------------+-----------------+-----------------+
|  count|             12294|            12294| 12232|12269|             12294|            12064|            12294|
|   mean|14058.221652838783|         166778.5|  null| null|12.382549774134182|6.473901690981445|18071.33886448674|
| stddev|11455.294700988177|330891.6746051493|  null| null| 46.86535196440979|1.026746306898068|54820.67692490701|
|    min|                 1|    &quot;0&quot;|Action|Movie|                 1|             1.67|                5|
|    max|             34527|                ◯|  Yaoi|   TV|           Unknown|             10.0|          1013917|
+-------+------------------+-----------------+------+-----+------------------+-----------------+-----------------+

In [36]:
df_rat.describe().show()

+-------+------------------+-----------------+------------------+
|summary|           user_id|         anime_id|            rating|
+-------+------------------+-----------------+------------------+
|  count|           7813737|          7813737|           7813737|
|   mean|36727.956744640884|8909.072104295294| 6.144029546937656|
| stddev|20997.946118973723| 8883.94963588107|3.7278004201098067|
|    min|                 1|                1|                -1|
|    max|             73516|            34519|                10|
+-------+------------------+-----------------+------------------+

In [9]:
df_rat.select([count(when(isnan('rating'),True))]).show()

+--------------------------------------------+
|count(CASE WHEN isnan(rating) THEN true END)|
+--------------------------------------------+
|                                           0|
+--------------------------------------------+

In [10]:
df_anime.select([count(when(isnan('rating'),True))]).show()

+--------------------------------------------+
|count(CASE WHEN isnan(rating) THEN true END)|
+--------------------------------------------+
|                                           0|
+--------------------------------------------+

In [8]:
# dataframe.filter(dataframe.ID!='4').show()
df_rating_dropped = df_rat.filter(df_rat.rating!='-1')
# filter null values in rating
# df_rating_dropped = df_rating_dropped.na.drop()

In [12]:
df_rating_dropped.count()

6337241

In [33]:
df_rating_dropped.describe().show()

+-------+------------------+-----------------+------------------+
|summary|           user_id|         anime_id|            rating|
+-------+------------------+-----------------+------------------+
|  count|           6337241|          6337241|           6337241|
|   mean| 36747.91443421514|8902.866382547232| 7.808496946857473|
| stddev|21013.403086875314| 8881.99964731458|1.5724960304974132|
|    min|                 1|                1|                 1|
|    max|             73516|            34475|                10|
+-------+------------------+-----------------+------------------+

In [22]:
def spark_shape(self):
    return (self.count(), len(self.columns))
pyspark.sql.dataframe.DataFrame.shape = spark_shape

In [13]:
pd_ratings = df_rat.toPandas()

In [14]:
pd_ratings.shape

(7813737, 3)

In [15]:
# df = df[df.line_race != 0]
pd_ratings_dropped = pd_ratings[pd_ratings.rating != -1]

In [16]:
pd_ratings_dropped.shape

(6337241, 3)

In [ ]:
# df_rat = df_rat.selectExpr("user_id as user_id","anime_id as anime_id_rat", "rating as rating_rat")

In [ ]:
# df_rat_renamed = df_rat.selectExpr("user_id as user_id","anime_id_rat as anime_id", "rating_rat as rating_rat")

In [9]:
df_rating_dropped = df_rating_dropped.selectExpr("user_id as user_id","anime_id as anime_id_rating", "rating as rating_rating")

In [13]:
df_anime.count()

12294

In [14]:
df_rating_dropped.count()

6337241

In [15]:
6337241+12294

6349535

In [11]:
# i need a full outer join on anime_id with anime_id and ratings renamed so no ambigious errors
# empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"fullouter") 
outer_join_df = df_anime.join(df_rating_dropped, df_anime.anime_id == df_rating_dropped.anime_id_rating, "fullouter")

In [12]:
outer_join_df.count()

6339609

In [16]:
# this is wrong is gives me 332m rows
# joined_df_on_rating = df_anime.join(df_rating_dropped, df_anime.rating == df_rating_dropped.rating, how='full')

In [ ]:
# i want a join or merge that adds the ratings cols together for each anime_id
# user_anime_df = user_anime_df.join(anime_df, 'anime_id', how='left')
# i think i need a left join on anime_id col
# left_join_df = user_anime_df.join(anime_df, 'anime_id', how='left')

In [17]:
joined_df_on_rating.count()

332052950

In [13]:
outer_join_df.printSchema()

root
 |-- anime_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- type: string (nullable = true)
 |-- episodes: string (nullable = true)
 |-- rating: double (nullable = true)
 |-- members: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- anime_id_rating: integer (nullable = true)
 |-- rating_rating: integer (nullable = true)

In [25]:
outer_join_df.count()

6339609

In [26]:
outer_join_df_filtered = outer_join_df.filter(outer_join_df.anime_id. isNotNull())
# df.filter(df.col_X. isNotNull())

In [27]:
outer_join_df_filtered.count()

6339607

In [14]:
outer_join_df.show()

+--------+------------+--------------------+----+--------+------+-------+-------+---------------+-------------+
|anime_id|        name|               genre|type|episodes|rating|members|user_id|anime_id_rating|rating_rating|
+--------+------------+--------------------+----+--------+------+-------+-------+---------------+-------------+
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|     19|              1|           10|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|     21|              1|            9|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|     23|              1|            9|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|     32|              1|           10|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|     34|              1|            7|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|     43|              1|           10|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|     46|              1|           10|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|     50|              1|           10|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|     51|              1|           10|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|     55|              1|            8|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|     68|              1|            8|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|     72|              1|            7|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|     80|              1|           10|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|     81|              1|            8|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|    103|              1|            8|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|    126|              1|            9|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|    129|              1|            9|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|    139|              1|           10|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|    152|              1|           10|
|       1|Cowboy Bebop|Action, Adventure...|  TV|      26|  8.82| 486824|    160|              1|            9|
+--------+------------+--------------------+----+--------+------+-------+-------+---------------+-------------+
only showing top 20 rows

In [ ]:
joined_rating.show()

+--------+--------------------+--------------------+-------+--------+------+-------+-------+--------+------+
|anime_id|                name|               genre|   type|episodes|rating|members|user_id|anime_id|rating|
+--------+--------------------+--------------------+-------+--------+------+-------+-------+--------+------+
|   24259|Mechano: Scientif...|Comedy, Dementia,...|    OVA|       3|  2.55|    120|   null|    null|  null|
|   33860|Saru Kani Gassen ...|          Historical|    ONA|       1|  2.84|     38|   null|    null|  null|
|   23677|Manga Edo Erobanashi|Comedy, Hentai, H...|    OVA|       5|  2.86|    111|   null|    null|  null|
|   31268|       Miira no Yume|            Dementia|  Movie|       1|  2.97|     98|   null|    null|  null|
|   29972|    Hakuchuu Meikyuu|            Dementia|    ONA|       1|  3.02|     99|   null|    null|  null|
|   16786|Bulsajo Robot Pho...|Action, Mecha, Sh...|  Movie|       1|  3.11|    133|   null|    null|  null|
|   32834|Gra-P &amp; Rodeo...|       Comedy, Music|Special|       1|  3.11|     68|   null|    null|  null|
|   17825|Ikenai Boy: Ikasu...|      Comedy, Hentai|    OVA|       1|  3.11|    112|   null|    null|  null|
|   29477|         Rescue YoYo|         Kids, Mecha|Special|       1|  3.26|     67|   null|    null|  null|
|   31264|           Shashinki|            Dementia|  Movie|       1|  3.26|     86|   null|    null|  null|
|   32894|          Love Bites|              Horror|    ONA|       1|  3.33|    537|   null|    null|  null|
|   34119|Escalator-jou no ...|               Drama|Special|       1|  3.33|     37|   null|    null|  null|
|   29181|           Henna Ie!|         Kids, Music|  Music|       1|  3.33|     80|   null|    null|  null|
|   33343|     Omusubi Kororin|       Fantasy, Kids|  Movie|       1|  3.33|     41|   null|    null|  null|
|   30403|          Paper Film|              Comedy|  Movie|       1|  3.33|    102|   null|    null|  null|
|   29647|Sensuikan Cassiopeia|            Dementia|  Movie|       1|  3.35|     85|   null|    null|  null|
|   18283|Sonyeon 007 Eunha...|Action, Adventure...|  Movie|       1|  3.42|     68|   null|    null|  null|
|   32644|          Yaseruyagi|                null|    ONA|       1|  3.42|     30|   null|    null|  null|
|   16828|Hokseong Robot Ss...|Action, Mecha, Sh...|  Movie|       1|   3.5|     83|   null|    null|  null|
|   29409|Juu-nin no Chiisa...|                Kids|  Movie|       1|   3.5|    103|   null|    null|  null|
+--------+--------------------+--------------------+-------+--------+------+-------+-------+--------+------+
only showing top 20 rows

In [ ]:
# > df.filter(df["age"]>24).show()
# joined_df.filter(joined_df["rating_rat"]>0).show()

In [ ]:
# joined_df.summary().show()`
# joined_df.select("anime_id", "rating_rat").summary().show()
# df.select("age", "name").summary("count").show()

Then, group by the orders by 'order_id' to obtain one row per basket (i.e., set of products purchased together by one customer).

In [ ]:
# orders_with_product_names = orders.join(products, orders.product_id == products.product_id)
# grouped_orders = orders_with_product_names.groupBy('order_id').agg({'product_name': 'collect_list'}).toDF('order_id', 'product_names')
# grouped_orders = joined_df.groupBy('anime_id').agg({'rating': 'collect_list'}).toDF('anime_id', 'rating')

**3. Student Activity: Now do some exploratory analysis. You must write the script for the third and fourth question here. Make sure to check if the script is running is correctly or not**

Q3. Find the top 10 anime based on user rating. Use tabular/graphical presentation to provide evidence of your analysis.

Q4. Find the top 10 genre based on user rating. Use tabular/graphical presentation to provide evidence of your analysis.

In [28]:
# cast types of two ratings and add the contents of the columns together
outer_join_df = outer_join_df_filtered.withColumn("rating_rating", outer_join_df_filtered.rating_rating.cast('double'))

In [ ]:
i wonder am i better getting all values from each dataframe first
if i can groupby and collect two dataframes then I can concat the 2 cols (ratings and rating_rating) then i can perform the op on them
then sort by desc
https://www.datasciencemadesimple.com/concatenate-two-columns-in-pyspark/#:~:text=Concatenating%20columns%20in%20pyspark%20is%20accomplished%20using%20concat()%20Function.,-1&text=Concatenating%20two%20columns%20is%20accomplished%20using%20concat()%20Function.&text=Concatenating%20multiple%20columns%20is%20accomplished%20using%20concat()%20Function.

In [18]:
outer_join_df.printSchema()

root
 |-- anime_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- type: string (nullable = true)
 |-- episodes: string (nullable = true)
 |-- rating: double (nullable = true)
 |-- members: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- anime_id_rating: integer (nullable = true)
 |-- rating_rating: double (nullable = true)

In [55]:
# df.groupBy($"name")
  # .agg(collect_list(struct($"food", $"price")).as("foods"))
  # .show(false)
# outer_join_df_filtered.groupBy("anime_id").agg(collect_list(struct("rating", "rating_rating")).as("all_ratings")).show(false)
collected_ratings = outer_join_df_filtered.groupBy("anime_id").agg(collect_list(struct("rating", "rating_rating")))

In [63]:
# df.groupBy("name").agg( *[F.array_join(F.collect_list(column), "").alias(column) for column in df.columns if column !='name' ]).show()
col_list = ["rating", "rating_rating"]
both_rating_cols = outer_join_df_filtered.groupBy("anime_id").agg( *[F.array_join(F.collect_list(column), "").alias(column) for column in col_list if column !='anime_id' ])

In [64]:
both_rating_cols.show()

+--------+--------------------+--------------------+
|anime_id|              rating|       rating_rating|
+--------+--------------------+--------------------+
|       1|8.828.828.828.828...|10.09.09.010.07.0...|
|       5|8.48.48.48.48.48....|9.09.010.09.09.09...|
|       6|8.328.328.328.328...|8.07.010.09.09.09...|
|      15|8.088.088.088.088...|6.07.09.07.09.07....|
|      16|8.188.188.188.188...|9.09.08.09.09.08....|
|      17|7.747.747.747.747...|6.010.09.09.010.0...|
|      19|8.728.728.728.728...|10.07.010.010.08....|
|      20|7.817.817.817.817...|8.06.08.09.09.06....|
|      22|8.048.048.048.048...|5.07.09.07.07.08....|
|      26|7.787.787.787.787...|7.09.05.09.07.07....|
|      27|7.447.447.447.447...|9.08.08.06.07.05....|
|      28|8.058.058.058.058...|10.09.07.08.08.08...|
|      31|7.517.517.517.517...|9.09.06.09.010.08...|
|      43|8.348.348.348.348...|7.08.08.010.09.08...|
|      44|8.838.838.838.838...|7.010.010.09.07.0...|
|      47|8.158.158.158.158...|8.08.07.07.09.09....|
|      48|7.147.147.147.147...|9.06.09.08.09.06....|
|      52|7.327.327.327.327...|7.08.06.09.08.06....|
|      53|7.247.247.247.247...|6.07.07.08.07.08....|
|      54|7.217.217.217.217...|5.08.08.08.07.05....|
+--------+--------------------+--------------------+
only showing top 20 rows

In [56]:
collected_ratings.printSchema()

root
 |-- anime_id: integer (nullable = true)
 |-- collect_list(struct(rating, rating_rating)): array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- rating: double (nullable = true)
 |    |    |-- rating_rating: double (nullable = true)

In [57]:
collected_ratings.show()

+--------+-------------------------------------------+
|anime_id|collect_list(struct(rating, rating_rating))|
+--------+-------------------------------------------+
|       1|                       [{8.82, 10.0}, {8...|
|       5|                       [{8.4, 9.0}, {8.4...|
|       6|                       [{8.32, 8.0}, {8....|
|      15|                       [{8.08, 6.0}, {8....|
|      16|                       [{8.18, 9.0}, {8....|
|      17|                       [{7.74, 6.0}, {7....|
|      19|                       [{8.72, 10.0}, {8...|
|      20|                       [{7.81, 8.0}, {7....|
|      22|                       [{8.04, 5.0}, {8....|
|      26|                       [{7.78, 7.0}, {7....|
|      27|                       [{7.44, 9.0}, {7....|
|      28|                       [{8.05, 10.0}, {8...|
|      31|                       [{7.51, 9.0}, {7....|
|      43|                       [{8.34, 7.0}, {8....|
|      44|                       [{8.83, 7.0}, {8....|
|      47|                       [{8.15, 8.0}, {8....|
|      48|                       [{7.14, 9.0}, {7....|
|      52|                       [{7.32, 7.0}, {7....|
|      53|                       [{7.24, 6.0}, {7....|
|      54|                       [{7.21, 5.0}, {7....|
+--------+-------------------------------------------+
only showing top 20 rows

In [29]:
grouped_ratings = outer_join_df_filtered.groupBy('anime_id').agg({'rating': 'collect_list'}).toDF('anime_id', 'rating')

In [30]:
grouped_ratings.show()

+--------+--------------------+
|anime_id|              rating|
+--------+--------------------+
|       1|[8.82, 8.82, 8.82...|
|       5|[8.4, 8.4, 8.4, 8...|
|       6|[8.32, 8.32, 8.32...|
|      15|[8.08, 8.08, 8.08...|
|      16|[8.18, 8.18, 8.18...|
|      17|[7.74, 7.74, 7.74...|
|      19|[8.72, 8.72, 8.72...|
|      20|[7.81, 7.81, 7.81...|
|      22|[8.04, 8.04, 8.04...|
|      26|[7.78, 7.78, 7.78...|
|      27|[7.44, 7.44, 7.44...|
|      28|[8.05, 8.05, 8.05...|
|      31|[7.51, 7.51, 7.51...|
|      43|[8.34, 8.34, 8.34...|
|      44|[8.83, 8.83, 8.83...|
|      47|[8.15, 8.15, 8.15...|
|      48|[7.14, 7.14, 7.14...|
|      52|[7.32, 7.32, 7.32...|
|      53|[7.24, 7.24, 7.24...|
|      54|[7.21, 7.21, 7.21...|
+--------+--------------------+
only showing top 20 rows

In [31]:
grouped_ratings_ratings = outer_join_df_filtered.groupBy('anime_id').agg({'rating_rating': 'collect_list'}).toDF('anime_id', 'rating_rating')

In [32]:
grouped_ratings_ratings.show()

+--------+--------------------+
|anime_id|       rating_rating|
+--------+--------------------+
|       1|[10.0, 9.0, 9.0, ...|
|       5|[9.0, 9.0, 10.0, ...|
|       6|[8.0, 7.0, 10.0, ...|
|      15|[6.0, 7.0, 9.0, 7...|
|      16|[9.0, 9.0, 8.0, 9...|
|      17|[6.0, 10.0, 9.0, ...|
|      19|[10.0, 7.0, 10.0,...|
|      20|[8.0, 6.0, 8.0, 9...|
|      22|[5.0, 7.0, 9.0, 7...|
|      26|[7.0, 9.0, 5.0, 9...|
|      27|[9.0, 8.0, 8.0, 6...|
|      28|[10.0, 9.0, 7.0, ...|
|      31|[9.0, 9.0, 6.0, 9...|
|      43|[7.0, 8.0, 8.0, 1...|
|      44|[7.0, 10.0, 10.0,...|
|      47|[8.0, 8.0, 7.0, 7...|
|      48|[9.0, 6.0, 9.0, 8...|
|      52|[7.0, 8.0, 6.0, 9...|
|      53|[6.0, 7.0, 7.0, 8...|
|      54|[5.0, 8.0, 8.0, 8...|
+--------+--------------------+
only showing top 20 rows

In [ ]:
# need to add ratings and ratings_ratings once they're summed for each anime_id

In [ ]:
# user_anime_df = user_anime_df.withColumn("my_score", user_anime_df.my_score.cast('float'))
# make sure its a float for us to add

In [ ]:
# lambda function on whole rating column of grouped_rating where we sum the contents of each cell

In [ ]:
# desc(columnName: String): Column
# sort by descending

so above we have all the ratings for each anime, need to rank them, should first look at how many ratings each anime has and whether it should be included

In [ ]:
# df.withColumn("column<2", expr("aggregate(filter(column, x -> x < 2), 0D, (x, acc) -> acc + x)")) 
# https://coderedirect.com/questions/280859/sum-of-array-elements-depending-on-value-condition-pyspark

In [ ]:
df_blah = spark.createDataFrame([(1, [20.0, 4.0, 2.0, 6.0, 10.0])], ("id", "values"))
df_blah.select(aggregate("values", lit(0.0), lambda acc, x: acc + x).alias("sum")).show()

In [ ]:
# can skip the filter as we're just using every element
# df.select(aggregate("values", lit(0.0), lambda acc, x: acc + x).alias("sum")).show()
# grouped_ratings.select(aggregate("ratings_rat", lit(0.0), lambda x: F.avg(x)).alias("sum")).show()
grouped_ratings.withColumn("new_col", aggregate("ratings_rat", lit(0.0), lambda x: F.avg(x)))#.show()

In [ ]:
# Pyspark
from pyspark.sql import functions as F
# Iris.groupBy(Iris.species).agg(F.mean(Iris.sepal_length).alias(‘sepal_length_mean’),F.count(Iris.sepal_length).alias(‘sepal_length_count’))

In [ ]:
grouped_ratings.printSchema()

In [ ]:
grouped_ratings.agg(F.min(grouped_ratings.rating_rat),F.avg(grouped_ratings.rating_rat)).show()

In [ ]:
grouped_ratings.agg(F.mean(grouped_ratings.ratings_rat)).collect()

In [ ]:
grouped_ratings.withColumn("rating_mean", expr("aggregate(filter(ratings_rat, x), 0D, mean(x)")).show()

In [ ]:
grouped_ratings.select(sum("rating_rat")).show()

**4. Student Activity: Design the recommendation system. Remember to split the dataset into training and testing to validate your recommendation model. This section would help you in answering question 5**

Q5. Design a collaborative filter-based recommendation system.

**Student Activity: Analyse the output of the test dataset here.**

Q6. Give example of best three anime recommendations for minimum of 10 users.

In [ ]:
spark.stop()